.DS_Store

node_modules
site/resources/
site/.hugo_build.lock
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
al-folio/_site/
al-folio/.jekyll-cache/
al-folio/.jekyll-metadata
al-folio/.bundle/
al-folio/vendor/
minimal-mistakes/_site/
minimal-mistakes/.jekyll-cache/
minimal-mistakes/.jekyll-metadata
minimal-mistakes/.bundle/
minimal-mistakes/vendor/
